body{
    font-family: 'Comic Sans MS';
}
.site-heading-lower{
    font-family: 'Comic Sans MS';
}
.mb-3{
    font-family: 'Comic Sans MS';
    color: purple !important;
}
.notpurple{
    color: turquoise !important;
}
.intro-text{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.section-heading-lower{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

